main {
    margin-top: 112px !important
}

.adage-hero-block{
    margin-bottom: 4rem;
}

.adage-block > .adage-block-inner {
    padding: 0 4rem;
}

@media screen and (max-width: 64em) {
    .adage-block > .adage-block-inner {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 40em) {
    .adage-block > .adage-block-inner {
        padding: 0 2rem;
    }
}

.right-rail {
    float: right;
    min-width: 18.75rem;
    height: 100vh;
    margin-left: 2rem;
    margin-right: 6rem;
}


.adage-wysiwyg-block{
    padding-bottom: 1rem !important;
}
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem;
    margin-bottom: 2rem;
}


@media screen and (min-width: 64em) {


    .right-rail {
        float: right;
        min-width: 18.75rem;
        height: 100vh;
        margin-left: 2rem;
        margin-right: 6rem;
    }
}

@media screen and (max-width: 40em) {
    .right-rail {
        padding: 0 2rem;
    }
}