@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Adage.EpiStarterKit.ModelPartials.BusObj

@model ISiteNavigationRepository

<div id="siteNav" class="header-nav-primary">
    <nav class="nav">
        @if (Model.MegaNavItems != null)
        {
            <ul>
                @foreach (var navItem in Model.MegaNavItems)
                {
                    <li>
                        <a href="@navItem.NavPageData.LinkURL">
                            @navItem.NavPageData.Name
                        </a>
                    </li>
                }
            </ul>
        }
    </nav>
</div>